@mixin standard_body {
  position: relative;
  width: 300px;
  margin: 25px;
  border: 1px solid red;
  padding: 10px;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
}

body {
  overflow: hidden;
}

.employee_list {
  height: 450px;
  @include standard_body;
}

.loans {
  @include standard_body;
}

.hireables {
  @include standard_body;
}

.business_assets {
  @include standard_body;
}

.right_block {
  float: right;
  display: block;
}

.goods_block {
  @include standard_body;
}

.materials {
  display: inline-block;
}

.materials_block {
  @include standard_body;
  vertical-align: top;
}

.left_block {
  display: inline-block;
}

.building_block {
  @include standard_body;
  float: right;
}

.info_container {
  display: inline-block;
  margin-right: 10px;
}

.small_icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.calendar {
  @include standard_body;
}

.calendar:hover > .hidden_days {
  opacity: 1;
  transition: 0.3s;
}

.hidden_days {
  opacity: 0;
  transition: 0.3s;
}

.show_days {
  opacity: 1;
}

.map {
  position: absolute;
  width: 4800px;
  height: 2889px;
  margin: auto;
  border: 1px solid blue;
}

.map_block {
  position: relative;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.map_block:hover {
  opacity: 1;
}

.map_image_background {
  position: absolute;
  height: 100%;
  width: 100%;
}
